.add-button {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}

.demo-card-wide.mdl-card {
  width: 300px;
  margin: 3vw auto 3vw auto;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.login-button {
    line-height: 0 !important;
}

.mdl-grid {
	max-width: 80vw;
}

h1 {
    text-align: center;
}

.form-grid {
    max-width: 60vw;
}


.item-form {
    margin-left: 10vw;
}

.input-field-text {
    width: 40vw;
}
