<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Catalog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</head>

<body>
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
              <!-- Title -->
              <span class="mdl-layout-title">Book-Shelf</span>
              <!-- Add spacer, to align navigation to the right -->
              <div class="mdl-layout-spacer"></div>
              <!-- Navigation. We hide it in small screens. -->
              <nav class="mdl-navigation mdl-layout--large-screen-only">
                  <a class="mdl-navigation__link" href="">Action</a>
                  <a class="mdl-navigation__link" href="">Horror</a>
                  <a class="mdl-navigation__link" href="">Mystery</a>
                  <a class="mdl-navigation__link" href="">Romance</a>
                  <a class="mdl-navigation__link" href="">Fantasy</a>
                  <a class="mdl-navigation__link" href="">Other</a>
                    <!-- Colored raised button -->
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Login</button>
              </nav>
          </div>
      </header>
      <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">Genres</span>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Action</a>
            <a class="mdl-navigation__link" href="">Horror</a>
            <a class="mdl-navigation__link" href="">Mystery</a>
            <a class="mdl-navigation__link" href="">Romance</a>
            <a class="mdl-navigation__link" href="">Fantasy</a>
            <a class="mdl-navigation__link" href="">Other</a>
          </nav>

          <span class="mdl-layout-title">Account</span>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Login</a>
          </nav>
      </div>
      <main class="mdl-layout__content">
          <div class="page-content">

              <!-- Colored FAB button with ripple -->
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored add-button" id="add-button">
                <i class="material-icons">add</i>
                <div class="mdl-tooltip" data-mdl-for="add-button"><strong>Add Item</strong></div>
              </button>
          </div>
      </main>
  </div>
</body>

</html>
