{% extends "base.html" %} {% block content %}
{% if book %}
<div class="mdl-card auto-margin mdl-textfield--full-width form-grid mdl-shadow--3dp margin-bottom-10 mdl-color--white margin-top-10">
    <div class="mdl-grid margin-0 mdl-textfield--full-width justify-start padding-0">
        <div class=" mdl-cell--3-col mdl-cell--1-offset-desktop mdl-cell--6-col-phone mdl-cell--8-col-tablet  mdl-typography--text-center">
            <img src="{{book.coverUrl}}" alt="Cover art" class="book-img-detail" />
        </div>
        <div class=" mdl-cell--7-col mdl-cell--8-col-phone auto-margin book-header">
            <h1 class="book-title">{{book.bookName}}</h1>

            <div>
                <span class="author-book-detail">{{book.authorName}}</span>
            </div>
            <div class="action-button">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--white mdl-color-text--purple-A700 button-edit" onclick="location.href='{{url_for('editBookDetails', category = book.category, bookId = book.id)}}'">Edit Book Details</button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--purple-A700 mdl-color-text--white button-delete" onclick="location.href='{{url_for('deleteBook', category = book.category, bookId = book.id)}}'">Delete Book</button>
            </div>
        </div>

    </div>
    <hr class="detail-content-line" />

    <div class="book-description">
        <div class="description-content margin-bottom-10">
            {{book.description|safe}}
        </div>

    </div>

</div>
{% else %}
  <span align="center" class="no-book-msg">Sorry! No Book in Database With This Genre :(</span>
{% endif %}

{% endblock %}
